.projects {
  @media (--large-desktop) {
    order: 4;
    flex: 1 1 100%;
  }
}

.project,
.legend {
  @media (--tablet) {
    display: flex;
    text-align: left;
  }
  $border: 2px dashed $borderColor;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: $border;
  justify-content: space-between;

  &:nth-last-child(1) {
    border-bottom: none;
    margin: 0;
  }

  :nth-child(3n - 1) {
    @media (--tablet) {
      border-left: $border;
      border-right: $border;
    }
    padding: 0 10%;
    text-align: center;
    flex: 2;
  }

  :nth-child(3n) {
    @media (--tablet) {
      text-align: right;
    }
  }

  > div {
    flex: 1;
    align-self: center;
  }

  h4 {
    color: $projectNameColor;
  }

  p {
    color: $projectPeriodColor;
  }

  strong {
    color: $projectTechnologiesColor;
  }
}

.legend {
  font-weight: bold;
  color: $legendColor;
}
