.projects {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed $borderColor;
  display: flex;
  justify-content: space-between;

  &:nth-last-child(1) {
    border-bottom: none;
  }

  :nth-child(3n - 1) {
    text-align: center;
  }

  :nth-child(3n) {
    text-align: right;
  }

  > div {
    flex: 1;
  }

  h4 {
    color: $projectNameColor;
  }

  p {
    color: $projectPeriodColor;
  }

  strong {
    color: $projectTechnologiesColor;
  }
}
