$backgroundColor: #b0bec5;
$editModeColor: #ffd54f;
$cardColor: #fafafa;
$borderColor: #673ab7;
$projectNameColor: #673ab7;
$projectPeriodColor: #009688;
$projectTechnologiesColor: #6d4c41;

$rateBarBackground1: #f63a0f;
$rateBarBackground3: #f27011;
$rateBarBackground5: #f2b01e;
$rateBarBackground7: #f2d31b;
$rateBarBackground9: #86e01e;

$imageSize: 120px;
