$backgroundColor: #b0bec5;
$editModeColor: #ffd54f;
$cardColor: #fafafa;
$borderColor: #673ab7;
$projectNameColor: #673ab7;
$projectPeriodColor: #009688;
$projectTechnologiesColor: #6d4c41;

$imageSize: 120px;
